@model IEnumerable<QTweb.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Sản Phẩm</h2>

<p>
    @Html.ActionLink("Thêm sản phẩm", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Giá Bán
            </th>
            <th>
                Giá Gốc
            </th>
            <th>
                Giá Trả Góp
            </th>
            <th>
                Số Lượng Tồn
            </th>
            <th>
                Tên Loại
            </th>
            <th>
                Hình Ảnh
            </th>
            
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>
                <td>
                    @item.GiaBan.ToString("N0")
                </td>
                <td>
                    @item.GiaGoc.ToString("N0")
                </td>
                <td>
                    @item.GiaGop.ToString("N0")
                </td>
                <td>
                    @item.SoLuongTon
                </td>
                <td>
                    @item.LoaiSanPham.TenLoai
                </td>
                <td>
                    <img src="@Url.Action("Details", new {id = item.id}) width="50px"/>
                </td>
                

                <td>
                    <a href="@Url.Action("Edit", new{id= item.id})"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("Details", new { id = item.id })"><span class="glyphicon glyphicon-eye-open"></span></a>
 
                    <a href="@Url.Action("Delete", new { id = item.id })"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>

        }
    </tbody>

</table>

@section scripts {
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>
}